.presentation {
  margin: 0px 0 50px 0;
  background: url("../../assets/img/home.jpeg");
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  width: 100%;
  height: 500px;
  position: relative;
}
.presentation:after {
  content: "Лучшие товары для вашего дома";
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 600;
  color: white;
}
.presentation:before {
  content: "по низким ценам";
  position: absolute;
  top: 250px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight: 300;
  color: white;
}

.presentation button {
  position: absolute;
  top: 300px;
  left: 50px;

  border: 1px solid #fde24b;
  font-weight: 300;
  background: transparent;
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  font-family: "Montserrat";
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
  background: #fde24b2b;
}

.presentation button:hover {
  background: #fde24b;
  color: dimgray;
}

@media (max-width: 500px) {
  .presentation:after {
    left: 30px;
  }
  .presentation:befire {
    left: 30px;
  }
  .presentation button {
    background: #fde24b;
    color: dimgray;
    left: 30px;
  }
}
