.catalog {
  position: relative;
}

.catalog__tags {
  margin: 0px 0px 30px 0;
}

.catalog__container {
  display: flex;
  gap: 20px;
}

@media (max-width: 500px) {
  .catalog__container {
    flex-direction: column;
  }
  .catalogItem__wrapper {
    flex-direction: column;
  }
  .catalogItem__image {
    width: 100%;
    min-width: 100% !important;
    max-width: 100% !important;
  }
  .catalogItem__info,
  .catalogItem__price {
    padding: 12px 12px 0 12px;
  }
}

.catalog__wrapper .catalogItem__wrapper:nth-child(2n) {
  background-color: rgba(91, 81, 222, 0.08);
  border-radius: 10px;
}

.catalog__wrapper {
  flex: 1 1 85%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 583px;
}

/* Style of CatalogSkeleton */
.catalog__wrapper .skeleton__wrapper:first-child {
  padding: 20px 0 0px 0px;
}

.catalog__params {
  flex: 1 0 15%;
  border: 2px solid #eef2f6;
  border-radius: 10px;
  height: max-content;
  padding: 20px;

  position: sticky;
  top: 20px;
  left: 0;
}

@media (min-width: 501px) {
  .filter__toogle-btn {
    display: none;
  }
}

@media (max-width: 500px) {
  .catalog__params {
    position: relative;
    display: none;
    margin-bottom: 40px;
  }
  .catalog__params.active {
    display: block;
  }
  .filter__toogle-btn.active svg {
    transform: rotate(180deg);
  }

  .filter__toogle-btn.active {
    border-color: blue;
  }
  .catalog__container {
    gap: 0;
  }
}
.filter__toogle-btn {
  outline: none;
  background: white;
  font-family: "Montserrat";
  font-size: 14px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #d2e3f3;
  border-radius: 6px;
  box-sizing: border-box;
  color: #001a34;
  margin-bottom: 10px;
}
.filter__toogle-btn svg {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.filter__categories,
.filter__manufacturer,
.filter__installment {
  margin-bottom: 30px;
}

.catalog__pagination button.Mui-selected {
  background-color: blue;
  color: white;
}
