.form-auth__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 350px;
  margin: "0 auto";
}
.form-auth__wrapper button div span {
  width: 15px !important;
  height: 15px !important;
  /* margin-top: 5px; */
}

.form-auth__wrapper button:hover {
  opacity: 0.8;
}

.form-auth__button-titile {
  display: inline-block;
  position: relative;
}
.form-auth__wrapper button div {
  position: absolute;
  right: -30px;
  top: 0;
}

.form-auth__wrapper button.active {
  pointer-events: none;
  cursor: none;
}

.form-auth__wrapper input {
  box-sizing: border-box;
}
